.BlogError {
	text-align: center;
}

.BlogError p {
	color: #fff;
	display: inline;
	background-color:	#f77;
	padding: 7px;
	font-weight:bold;
}

.blogSummary {margin-bottom: 20px;}

.BlogError {
	text-align: center;
}

#BlogContent p.authorDate, #BlogContent p.tags, #BlogContent p.blogVitals {font-size: 0.7em; margin-top: 0px; padding-top: 0px; padding-bottom: 0; margin-bottom: 0; width: 49%;}
#BlogContent p.authorDate {float: right; text-align: right;}

p.blogVitals {display: none!important;}

.BlogError p {
	color: #fff;
	display: inline;
	background-color:	#f77;
	padding: 7px;
	font-weight:bold;
}

.blogSummary p {display: none;}
.blogSummary p.authorDate, .blogSummary p.tags {display: block; font-size: 0.7em; margin-top: 0px; padding-top: 0px; padding-bottom: 0; margin-bottom: 0; width: 49%;}
.blogSummary p.authorDate {float: right; text-align: right;}

